
**.png
*.png
EXPINT/experiment/stimuli/SWOW-EN.R100.csv
EXPINT/experiment/stimuli/word2vec.npy
EXPINT/experiment/stimuli/New folder/SWOW-EN.R100.csv
EXPINT/experiment/stimuli/New folder/SWOW-EN.R100.csv.zip
EXPINT/experiment/stimuli/New folder/SWOW-EN.R100.csv.zip
EXPINT/experiment/stimuli/SWOW/SWOW-EN.R100.csv
EXPINT/experiment/stimuli/SWOW/SWOW-EN.R100.csv.zip
EXPINT/experiment/stimuli/SWOW/SWOW-EN.complete.csv.zip
EXPINT/experiment/stimuli/length6.Rdata
EXPINT/experiment/static/stimuli/SWOW/manual_SWOW.csv
EXPINT/experiment/static/stimuli/length6.Rdata
EXPINT/experiment/static/stimuli/SWOW/filtered_SWOW.csv
EXPINT/experiment/static/stimuli/SWOW/filtered_SWOW3.csv
EXPINT/experiment/static/stimuli/SWOW/SWOW-EN.complete.csv.zip
EXPINT/experiment/static/stimuli/SWOW/SWOW-EN.R100.csv
EXPINT/experiment/static/stimuli/SWOW/SWOW-EN.R100.csv.zip
EXPINT/experiment/static/stimuli/word2vec.npy
EXPINT/experiment/static/stimuli/unused_lists/length6.Rdata
EXPINT/experiment/static/stimuli/paired_cosine_final.RData
EXPINT/experiment/static/stimuli/paired_dist_final.RData
EXPINT/experiment_stimuli/SWOW/SWOW-EN.complete.csv.zip
EXPINT/experiment_stimuli/paired_dist_final.RData
EXPINT/experiment_stimuli/SWOW/SWOW-EN.R100.csv
EXPINT/experiment_stimuli/paired_cosine_final.RData
EXPINT/experiment_stimuli/paired_cosine.RData
*.zip
EXPINT/experiment_stimuli/unused_lists/manual_semantic_lists.RData
EXPINT/experiment_stimuli/unused_lists/length6.Rdata
EXPINT/experiment_stimuli/unused_lists/orthographic_list2.RData
EXPINT/experiment_stimuli/unused_lists/orthographic_lists.RData
EXPINT/experiment_stimuli/word2vec.npy
docs/~$final_prog_review.pptx
docs/~$chdh_sem.pptx
*.asv
EXPINT/analysis/modelling/MATLAB/testsim.csv
EXPINT/analysis/plotting/diffusion/testsim_shallow.csv
EXPINT/analysis/plotting/diffusion/testsim_steep.csv
EXPINT/experiment_stimuli/~$wordlist_pretty_2.xlsx
*.docx
EXPINT/docs/draft_1.docx
EXPINT/docs/draft_1.docx
EXPINT/analysis/modelling/R/model_code/fitted_models/2022-12-27_simulated.RData
